h1,h2,li,p,a {
    text-align: center;
    font-family: Tahoma;
    font-weight:800;
}
h1 {
    font-size: 60px;
    color: black;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul,ol {
    padding-inline: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid black;
    display: table;
    margin: auto;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}